h1 {
  color: #fff; }

body {
  margin: 0;
  background: #333;
  color: #000;
  font-size: 25px;
  width: 100%;
  font-family: 'Open Sans'; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #00AEE6; }

.tweets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*
	background-image: url(https://raw.githubusercontent.com/FreifunkWesterwald/media/master/logo_ws.png);
	background-size: 380px;
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: 98%;
	*/ }

.card {
  display: inline-block;
  width: 30%;
  min-height: 320px;
  margin: 1% 1.6%;
  padding: .8em;
  vertical-align: top;
  border-radius: 2.5%;
  background: #F5F5F6; }
  .card .profile-image {
    float: left;
    margin-right: 1em; }
  .card .profile-name {
    display: inline; }
    .card .profile-name h2 {
      margin: 0; }
  .card .tweet-body {
    clear: both; }
  .card > .images img {
    display: block;
    margin: 0 auto;
    max-height: 220px; }

footer {
  width: 100%;
  text-align: center; }
  footer h1 {
    color: #fff;
    margin-top: 15px; }

.logo {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 240px; }
