$background-color: #eee;
$first-text-color: #333;
$first-hightlights-color: #FFB90E;
$second-hightlight-color: #DC0067;
$third-hightlight-color: #00AEE6;

body {
    margin: 0;
    background: $background-color;
    color: $first-text-color;
    font-size: 18px;
    width: 100%;
    margin-top: 2em;
	font-family: 'Open Sans';
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.card{
	width:30%;
	float:right;
	min-height:300px;
	margin: 0 2.5% 1.5% 0;
	background:#fff;
	padding:15px;
	.profile-image{
		float:left;
	}
	.profile-name{
		float:right;
	}
	.tweet-body{
		clear:both;
	}
}
